<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Logged In Page</title>
  </head>
  <body>
  <div class="login_form">
    <form action="/" method="post">
      <div class="container">
        <label for="username"><b>Username</b></label
        ><br />
        <input
          type="email"
          placeholder="Enter your Email"
          name="username"
          required
        /><br /><br />

        <label for="password"><b>Password</b></label
        ><br />
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          required
        /><br /><br />
        <button type="submit">Login</button>
      </div>
    </form>
</div>
<div>
    <form action="/register">
        <label for="register">Register For New User!</label>
        <input value="Register" type="submit">
    </form>
</div>
  </body>
</html>
